/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header a {
  color: #fff;
  text-decoration: underline;
}

header h1 {
  font-size: 36px;
  margin: 0;
  font-weight: bold;
  text-decoration: underline;
}

header input[type="search"] {
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  margin-left: 20px;
}

/* Main styles */
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(450px, 1fr));
  gap: 24px;
  margin-top: 32px;
}

@media (max-width: 1023px) {
  .container {
    max-width: 768px;
  }
  .grid {
    grid-template-columns: repeat(1, minmax(450px, 1fr));
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 480px;
  }
  .grid {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

.card {
  width: 100%;
  border: 2px solid #ccc;
  padding: 16px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px; /* Set the maximum width of the cards */
  margin: 0 auto; /* Center the cards in the grid columns */
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.card-topic {
  color: #0077b6;
  font-size: 14px;
  margin-bottom: 8px;
}

.card-title {
  font-weight: bold;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 8px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.card-date {
  font-size: 14px;
  color: #777;
  margin: 0;
}

.card-description {
  font-size: 16px;
  margin-bottom: 16px;
}

.card-continue-reading {
  color: #0077b6;
  text-decoration: none;
  font-weight: bold;
}

/* Blog post page specific styles */
.blog-post {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.blog-post h2 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 16px;
}

.blog-post img {
  max-width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.blog-post p {
  font-size: 18px;
  margin-bottom: 16px;
}

.blog-post blockquote {
  background-color: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

.blog-post blockquote p {
  font-size: 16px;
  margin: 0;
}

.blog-post ul {
  list-style: disc;
  margin-bottom: 16px;
}

.blog-post li {
  font-size: 16px;
  margin-bottom: 8px;
}

.blog-post a {
  color: #0077b6;
  text-decoration: underline;
}

.blog-post a:hover {
  color: #005f8b;
}

.author-info {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.author-info img {
  width: 64px;
  height: 64px;
  margin-right: 16px;
  border-radius: 50%;
}

.author-details {
  display: flex;
  flex-direction: column;
}

.author-details h3 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.published-date {
  margin-top: 8px;
  font-size: 16px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
  text-align: center; /* Center the content */
}

footer p {
  margin: 0;
}

.social-links {
  list-style: none;
  padding: 0;
  display: flex; /* Display the icons in a row */
  justify-content: center; /* Horizontally align the icons */
  align-items: center; /* Vertically align the icons */
}

.social-links li {
  margin: 0 10px; /* Add some margin between the icons */
}

.social-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 767px) {
  footer {
    text-align: center;
  }
}
