/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  height: 100%;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  height: 80px; /* Set height of header */
}

header a {
  color: #fff;
  text-decoration: underline;
}

header h1 {
  font-size: 36px;
  margin: 0;
  font-weight: bold;
  text-decoration: underline;
}

header input[type="text"] {
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  margin-left: 20px;
}

/* Main styles */
main {
  min-height: calc(
    100% - 160px
  ); /* Set height of main tag to remaining height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-post {
  max-width: 800px;
  padding: 20px;
}

.blog-post header {
  margin-bottom: 20px;
}

.author-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.author-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.author-details {
  flex: 1;
}

.social-sharing {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.social-sharing a {
  margin-left: 10px;
}

.blog-post-content {
  font-size: 18px;
  line-height: 1.6;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
  text-align: center; /* Center the content */
  height: 60px; /* Set height of footer */
}

footer p {
  margin: 0;
}

.social-links {
  list-style: none;
  padding: 0;
  display: flex; /* Display the icons in a row */
  justify-content: center; /* Horizontally align the icons */
  align-items: center; /* Vertically align the icons */
}

.social-links li {
  margin: 0 10px; /* Add some margin between the icons */
}

.social-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 767px) {
  footer {
    text-align: center;
  }
}
